{% extends "base.html" %}
{% block title %}Home - Notely{% endblock %}
{% block content %}
<h1>Recent Blogs</h1>
{% if blogs %}
{% for blog in blogs %}
<div class="blog-card">
<div class="blog-title"><a href="/blog/{{blog.id}}">{{blog.title}}</a></div>
<div class="blog-meta">
<img src="{{blog|avatar}}" alt="{{blog.display_name}}" class="profile-picture" style="width:30px;height:30px;vertical-align:middle;margin-right:8px;">
<span>{{blog.display_name}} (@{{blog.username}})</span> • <span>{{blog.created_at|datetimeformat}}</span>
</div>
</div>
{% endfor %}
{% else %}
<p>No blogs yet. Be the first to create one!</p>
{% endif %}
{% endblock %}
